<div class="ud-header">
  <h2 class="text-center">Chatter</h2>
</div>
<div class="ud-body">
  <div class="col-md-12">
    <ul>
      <li *ngFor="let mObj of msgInbox" [ngClass]="mObj.User === msgDto.User ? 'in-msg' : 'ex-msg'"><span style="font-weight: bold;">{{mObj.User}}</span>: {{mObj.Message}}</li>
    </ul>
  </div>
  <div class="col-xs-12">
    <input type="text" placeholder="Type message here" class="msg-input" [(ngModel)]="msgDto.Message"  />
    <button class="btn btn-primary" (click)= "send()">Send Message</button>
  </div>
  <input type="text" placeholder="Your name" class="name-box" [(ngModel)]="msgDto.User" />
</div>